* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.section-one {
    background: #fafafa;
    padding: 20px 0 40px 0;
}

.section-two{
    padding: 30px 0;
    background: yellow;
}

.section-two .filter {
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.section-two .filter h2 {
    padding: 10px 20px;
    margin: 0;
    background: white;
    border: 4px solid #1f78ff;
}

.cards {
    position: relative;
    z-index: 1;
}

.cards .card {
    background: white;
    padding: 20px;
    border: 8px solid yellow;
    margin-bottom: 20px;
    box-shadow: -1.3em 1.3em 0 0 white;
}

.cards .card .top-bar h3{
    color: red;
    margin: 0 0 10px 0;
}


ul.tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

ul.tags-list li {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 10px;
    background: white;
}

button {
    background: white;
    border: 1px solid blue;
    padding: 7px 12px;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    color: blue;
    z-index: 1;
    box-shadow: -0.3em 0.3em 0 0 blue;
}

select {
    height: 42px;
    background: white;
    border: 2px solid blue;
    width: 100%;
}

h4,h5,h6 {
    margin: 0;
    margin-bottom: 5px;
}

h4{
    color: blue;
}